<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Neberay Foundation</title>
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="loader">
	<div class="middle2 large-3 medium-4 large-centered small-centered medium-centered small-6">
<div class="loader-div"></div>		
	</div>
</div>
	<div class="row fullWidth">
		<div class="large-12 small-12 medium-12 columns contained">
			<div class="large-8 large-centered medium-11 medium-centered small-11 small-centered " >
				<h2 class="header center center2">NEBERAY FOUNDATION</h2>
			</div>
		</div>

		<div class="large-12 small-12 medium-12 contained">
			<div class="button-group large-7 large-centered medium-8 small-11 small-centered medium-centered contained">

				<a href="#" class="button large-3 large-centered center small-10 btn-custom medium-centered medium-10 hollow success" id="projects">Projects</a>
				
			</div>
		</div>

<div class="columns large-7 medium-9 small-10 large-centered small-centered medium-centered center inner-parag">
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, esse, ea commodi quis quaerat quos id quisquam debitis placeat, consequatur pariatur. Natus ex reprehenderit nobis. Ab eius alias aspernatur laudantium minima nemo molestiae totam. Incidunt, hic molestias? Dolores illo, officiis!</div>
	<div>Perspiciatis quas temporibus minima cum accusamus quidem recusandae maiores tempora soluta distinctio repudiandae sapiente laborum, quisquam tenetur enim voluptatibus eius quaerat quae eos id. Aliquam similique, expedita explicabo. Aut enim vero in, rerum dicta repellendus doloremque nobis? Atque, expedita, ut.</div>
</div>
		
		<div class="large-1 medium-2 small-3 hide-for-small center title-holder projects-area" id="pros">

		</div>
	</div>

	<div class="row secondary" id="fade-div-container">
		<div class="professions aspect large-12 large-even-4 small-9 small-centered medium-12 columns" >

			<div class="large-3 end medium-6 small-11 columns ">

				<a href="http://www.neberai.com/" target="_blank"><img class="small-centered center" src="images/hns.png" /></a>
				
			</div>
			<div class="large-8 end medium-5 small-12 columns ">

				<a href="http://www.neberai.com/" target="_blank">
				<h4 class="projects-title" >
					HUMED NEBERAI SCHOLARSHIP

				</h4>
				<h6 class="projects-subtitle" >
					Dedicated to Academic Excellence

				</h6></a>
				<p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus maxime aliquid non sequi quibusdam nulla molestiae culpa blanditiis quam ipsum tempore optio, hic nihil nam accusantium tempora eum quas nobis. Facilis architecto doloribus, ipsa iusto dolor fuga tempore ea, eaque doloremque deserunt illum saepe neque!</p>
			</div>
			

		</div>

	</div>
	
	
	<div class="row fullWidth3 columns">
		<div class="large-1 medium-2 small-3 hide-for-small center title-holder" id="contact">

		</div></div>
<div class="row fullWidth4 columns">
<div class="large-7 large-centered medium-9 medium-centered small-11 small-centered columns setter">
	<a class="connections large-3 medium-3 small-3 columns">
		<img class="social" src="images/facebook.png" />
	</a>
	<a class="connections large-3 medium-3 small-3 columns">
		<img class="social" src="images/googleplus.png" />
	</a>
	<a class="connections large-3 medium-3 small-3 columns">
		<img class="social" src="images/twitter_icon.png" />
	</a>
	<a class="connections large-3 medium-3 small-3 columns skype">
		<img class="social" src="images/skype.png" />
	</a>
	
</div>
<div class="large-10 large-centered medium-11 medium-centered small-11 small-centered columns fixer">

<div class="footer">
	<h6 class="middle copy">Neberai Foundation. &copy; 2016 </h6>
</div>
</div>
		</div>
	
	<script src="js/vendor/jquery.js"></script>
	<script src="js/vendor/what-input.js"></script>
	<script src="js/vendor/foundation.js"></script>
	<script src="js/script.js"></script>

	<script src="js/app.js"></script>
</body>
</html>
